<h1>Domandine sul PCT per avvocati newbies</h1>
<h2><%= @quiz.question %></h2>
<%= render partial: 'answer', collection: @quiz.answers %>
	       

<p>Find me in app/views/front_end/question.html.erb</p>
